h1{
    text-align: center;
}

.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 60%; /* depends on svg ratio, for my zebra height/width = 1.2 so padding-bottom = 50% * 1.2 = 60% */
    vertical-align: middle; /* top | middle | bottom ... do what you want */
}

.my-svg{ /* svg into : object, img or inline */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* only required for <img /> */
    z-index: 0;
}

svg {
    border: solid 1px rgba(221, 61, 16, 0.71);
}

rect {
    fill: lightblue;
    stroke: blue;
    stroke-width: 2px;
}

circle {
    fill: lightgreen;
    stroke: green;
    stroke-width: 2px;
}
